*{
  left: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; 
  margin:0; 
}

html{
  background-color: white;
}

.content-carousel{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.transparent-box{
  background-color: #333333;
  opacity:0.8;
  color:white;
  margin:auto;
  padding:30px;
  width:60%;
  position:absolute;
  top: 21vh;
  left: 18vw;
}

.transparent-box-index{
  width: 60%;
  top: 25vh;
  left: 18vw;
  font-size:1.2em;
  text-align:center;
}

.transparent-box span{
  font-weight:bold; 
  color:#FFC107;
}

.header-contacto h1{
  color: #333;
  font-size:3.3em;
  text-align:center;
}

.header-contacto h3{
  color: #333;
  font-size:2.3em;
  text-align:center;
  }

.header-contacto span{
  font-weight:bold; 
  color:#FFC107;
}

.wrap-img{
  width:100%;
  margin:0;
  padding-top:50px;
}

/*---Carousel ---*/
.item > img{
  width:100%; 
  max-height: 81vh;
}

/*--- MENU ---*/
nav {
  background-color: #303F9F;
  color: #fff;
  height: 50px;
  font-weight:bold;
  font-size:1.1em; 
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
  font-size:1.1em;
}

nav ul li a:hover {
  background-color: #FFC107;
  color:#000;
  text-decoration: none; 
  font-size:1.1em; 
}
/*--------*/


h1 {
  font-size:2.5em;
  font-weight: bold;
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h2{
  font-size:1.8em; 
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h3{
  font-size:1.7em;
  font-weight: bolder; 
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h5{
  font-size:0.8em;
  color:white; 
  text-align: center;
  margin:20px;
  padding:5px;
}

p {
	font-size:1em;
  color:#333;
  padding:20px;
}


article{
  width: 85%;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #303F9F;
  color: white;
  padding: 20px;
  text-align: center;
}

article h3{
  color: #FFC107;
  font-size: 2.2em;
  font-weight: bold;
}

article p{
  color: white;
  font-size: 1.3em;
}

.search_items{
  margin: 0;
  font-size:1em;
}

.search_items label, input, button {
  margin-left: 15px;
  padding: 10px;
  border-radius: 5px;
}

.btn-yellow{
  background-color:#FFC107;
  color: #333;
  border: 1px solid #efefef;
  padding:20px;
  font-size:1em;
  font-weight: bolder;
  cursor:pointer;
  border-radius:10px;
  margin: 40px;
}

.btn-yellow:hover{
  background-color: black;
  border: 1px solid #efefef;
  color: white;
  cursor:pointer;
}

.related{
  width:100%;
  min-height: 98vh;
  background-color:#FFC107;
  color:#333;
  padding:10px;
}

.related-acerca{
  height: 100vh;
}

.related-novedades{
  height: 165vh;
}

.related-contacto{
  height: 90vh;
}

.related h1{
  color: black;
  font-weight: bolder;
  font-size: 4vh;
}

.related button{
  background-color: #303F9F;
  color:white;
  cursor:pointer;
  border:0;
  border-radius: 5px;
  margin:10px;
  padding: 20px;
  font-size:1em;
  font-weight: bolder;
  margin: 2% auto 2% 5%;  
}

.card, .card2 {
  width: 26%;
  /*height: 75vh;*/
  background-color: #fff;
  color:#333;
  border:1px solid #efefef;
  border-radius: 5px;
  float:left;
  margin: 2% auto 2% 5%;
  padding:20px;
  height:auto;
}

.card a, .card2 a{
  color: white;
  text-decoration: none;
}

.card:hover{
  transform: scale(1.03);
  border: 3px solid #3F51B5;
}

.card button:hover, .card a:hover, .card-interna button:hover, .card2 button:hover, .card2 a:hover, .card2-interna button:hover{
  background-color: orange;
  color: black;
  text-decoration: none;
}

.card img{
  margin:20px;
  width:90%;
  height: 40%;
}

.card h3, .card2 h3{
  text-align: left;
  color:#333333;
  font-weight: bolder;
}

.card h2, .card2 h2 {
  margin-top: 0;
}

.card p, .card2 p {
  margin-bottom: 0;
}

.card-interna{
  width:80%;
  margin:auto;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #efefef;
  padding: 20px;
  margin: auto;
  color:#333;
}

.card-interna h3, .card-interna p{
    text-align: left;
}

.InputData{
  width: 85%;
  margin: 5px auto;
  border-radius: 12px;
  background-color: #303F9F;
  color: white;
  padding: 10px;
  text-align: center;
}

#datosP{
  color: #FFC107;
  font-weight: bold;
}

.InputData label{
  display: block;
  margin:10px;
}

.InputData input {
  width: 75%;
  margin:10px auto;
  border-radius: 5px;
  border:1px solid #efefef;
  padding:20px;
  font-size:1em;
  font-weight: bolder;
}

.InputData input:focus{
  border:2px solid #FFC107;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px rgba(255, 238, 0, 0.6);
  outline: 0 none;
}

.InputData button {
  margin-left: 0;
  margin-top: 3vh;
  background-color:#FFC107;
  color: #333;
  border: 1px solid #efefef;
  padding:20px;
  font-size:1em;
  font-weight: bolder;
  cursor:pointer;
  border-radius:10px;
}

#DirOficce {
  color: white;  
}

#DirOficce:hover{
  color: #FFC107;
}

.mapas{
  width: 50%;
  min-height: 30vh;
}

/* Imagenes para los encabezados de las páginas */
.wrap1{
  background-image: url(https://i.blogs.es/0ecab2/chainsaw-man/1366_2000.jpeg);
  min-height:350px;
}

.wrap2{
  background-image: url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/c912a1ce1d58e50f37495f640cb61839c7183adb78470593267cabaedf4fd3c8._RI_V_TTW_.jpg);
  min-height:350px;
}

.wrap3{
  background-image: url(https://m.media-amazon.com/images/M/MV5BMmVjYzllYTQtNTIxOS00Y2MzLTliZjgtNjU0OTQ2Mzk4ZWY4XkEyXkFqcGdeQWRpZWdtb25n._V1_.jpg);
  min-height:350px;
}

.wrap4{
  background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgkJ0U8X_w0RpzY4koR4kTx8rzReTsSXnacFNyj8JTusjxAHa6oPB4EopjOR6Z23Hg_dtMdsj3KhkuVOx3YoUr2c6UPKqLeNeV8vVwL8XNLreuhwpCiTVQgbVzmbSAsmxI5oLM8DQnxbEJl0xemAD161M0vJB8ldcuZQZqZoi1tzXwZgcPKxyH6t2BobQ/s700/jigokuraku-anime-personajes.jpg);
  min-height:350px;
}


/* Tabla en pantalla de datos enviados Show_data */
#table-feedback{
  border: 2px solid black;
  border-collapse: separate;
  margin: 0 auto;
  width: 226px;
}
/* Para hacerla tipo zebra */
tbody tr:nth-child(odd) {
  background: gray;
  color: white;
}
tbody tr:nth-child(even) {
  background:lightgray;
}
/* Para el título */
tbody tr:first-child{
  background: orange;
  color: black;
}

#list-anime{
  width:85%;
  color:white;
  border:1px solid #999999;
  min-height:250px;
  margin:auto;
  padding:20px;
  line-height: normal;
  margin-bottom:20px;
  border-radius: 10px;
}

/*
#list-anime tr{
 border: 1px solid rgb(202, 202, 202);
}*/

#list-anime th{
  text-align:center;
  width:15%;
  font-size:1.1em;
  background-color:white;
  color:#333333;
  height:40px;
}

#list-anime td{
  text-align:center;
  font-size:1.1em;
}

#list-anime caption{
  font-size: 1.3em;
  color: rgb(46, 46, 46);
  font-weight:bold;
}
#list-anime{
  color:#333333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: auto;
  line-height: 50px;
  bottom:0;
  padding:30px;
  margin:0;
  width:100%;
}

footer p{
  color:white;
  font-size:0.8em;
  text-align: center;
}

footer a{
  color: #fff;
  margin-right: 30px;
}

.social_networks:hover{
  color: orange;
}


/* Media Queries */

@media screen and (max-width: 768px) and (orientation: portrait){
  nav {
    height: auto;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    line-height: 30px;
  }
  .transparent-box-index{
    width: 75vw;
    left: 10vw;
    margin-top: 0!important;
  }
  .item > img{
    min-height: 40vh;
  }
  .search_items input {
    display: block;
    margin-left: 29vw;
    padding: 10px;
  }
  .search_items button {
    margin-top: 3vh;
    margin-left: 5vw;
  }
  .related{
    min-height: 220vh!important;
  }
  .card {
    max-width: 90%;
    margin-bottom: 10%;
  }
  .card img{
    margin:10px;
  }
  .related-acerca{
    min-height:200vh!important;
  }
  .card2{
    width: 42%;
  }
  .related-novedades{
    min-height:362vh!important;
  }
  .related-contacto{
    min-height: 90vh!important;
  }
}


@media screen and (min-width: 768px) and (max-width: 980px) and (orientation: portrait){
  nav {
    height: auto;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    line-height: 30px;
  }
  .transparent-box-index{
    width: 70vw;
    left: 13vw;
    margin-top: 2vh;
    top: 3vh;
  }
  .item > img{
    max-height: 37vh;
  }
  .search_items input {
    display: block;
    margin-left: 28vw;
    width: 32%;
    padding: 10px;
  }
  .search_items button {
    margin-top: 3vh;
    margin-left: 6vw;
  }
  .related{
    min-height:245vh;
  }
  .card {
    width: 90%;
  }
  .card img{
    margin:10px;
    padding-left: 5vw;
  }  
  .related-acerca{
    min-height:200vh;
  }
  .card2{
    width: 70%;
    margin: 10vh 15vw 7vh;
  }
  .related-novedades{
    min-height:385vh;
  }
  .related-contacto{
    min-height:90vh;
  }
}

@media (min-width: 980px){
  .related {
    flex-direction: column;
  }
}