*{
  left: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;  
}

html{
  background-color: white;
}

.content-carousel{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.transparent-box{
  background-color: #333333;
  opacity:0.8;
  color:white;
  margin:auto;
  padding:30px;
  width:75%;
  position:absolute;
  top: 14.5vh;
  left: 10vw;
}

.transparent-box-index{
  top: 10vh;
}

.transparent-box span{
  font-weight:bold; 
  color:#FFC107;
}

.wrap-img{
  width:100%;
  margin:0;
  padding-top:50px;
}

/*---Carousel ---*/
.item > img{
  width:100%; 
  max-height: 48vh;
}

/*--- MENU ---*/
nav {
  background-color: #303F9F;
  color: #fff;
  height: 50px;
  font-weight:bold;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 50px;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #FFC107;
  color:#000;
  text-decoration: none;  
}
/*--------*/


h1 {
  font-size:2.5em;
  font-weight: bold;
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h2{
  font-size:1.8em; 
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h3{
  font-size:1.7em;
  font-weight: bolder; 
  color:white; 
  text-align: center;
  margin:20px;
  padding:10px;
}

h5{
  font-size:0.8em;
  color:white; 
  text-align: center;
  margin:20px;
  padding:5px;
}

p {
	font-size:1em;
  color:#333;
  padding:20px;
}


article{
  width: 75%;
  margin: 20px auto;
  border-radius: 12px;
  background-color: #303F9F;
  color: white;
  padding: 20px;
  text-align: center;
}

article h3{
  color: #FFC107;
}

article p{
  color: white;
}

.search_items{
  margin: 0 10% 2% 6%;
}

.search_items label, input, button {
  margin-left: 25px;
}


.btn-yellow{
  background-color:orange;
  color: #303F9F;
  border: 1px solid #efefef;
  padding:20px;
  font-size:1em;
  font-style: bolder;
  font-weight: bolder;
  cursor:pointer;
  border-radius:10px;
  margin-left: 20px;
}

.btn-yellow:hover{
  background-color: #303F9F;
  border: 1px solid #FFC107;
  color: #FFC107;
  cursor:pointer;
}


.related{
  width:100%;
  min-height:950px;
  background-color:#FFC107;
  color:#333;
  padding:10px;
}

.related h3{
  color: black;
  font-weight: bolder;
}

.related button{
  background-color: #303F9F;
  color:white;
  cursor:pointer;
  border:0;
  border-radius: 5px;
  margin:10px;
  padding: 10px;
}


.card {
  width: 26%;
  height: 75vh;
  background-color: #fff;
  color:#333;
  border:1px solid #efefef;
  border-radius: 5px;
  float:left;
  margin: 2% auto 2% 5%;
  padding:20px;
}

.card button{
  color: #fff;
  background-color: #3F51B5;
  border-color: #3F51B5;
  padding:20px;
  font-size:1em;
  margin: 2% auto 2% 5%;
}

.card button:hover{
  background-color: orange;
  color: black;
}

.card img{
  margin:20px;
  width:90%;
  height: 40%;
}

.card h3{
  text-align: left;
  color:#333333;
  font-weight: bolder;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card-interna{
  width:90%;
  margin:auto;
  background-color: #fff;
  border-radius: 5px;
  border:1px solid #efefef;
  padding: 20px;
  margin: 20px 10px;
  color:#333;
}

.card-interna h3, .card-interna p{
    text-align: left;
}

/*button{
  color: #fff;
  background-color:orange;
  border-color: #efefef;
  padding:20px;
  font-size:1em;
  cursor:pointer;
  border-radius:10px;
}
.btn-primary {
  background-color: #3F51B5!important;
  border-color: #3F51B5!important;
  padding:20px;
  font-size:1em;
  border-radius:10px;

button:hover{
  color: #fff;
  background-color:#333333;
  border-color: #efefef;
  padding:20px;
  font-size:1em;
  cursor:pointer;
  border-radius:10px;
}*/


.InputData label{
  display: block;
  margin:10px;
}

.InputData input {
  width: 60%;
  margin:10px auto;
  border-radius: 5px;
  border:1px solid #efefef;
  padding:20px;
  font-size:1em;
}

.InputData button {
  margin-top: 3vh;
}

.card button:hover{
  background-color: orange;
  color: black;
}

/* Imagenes para los encabezados de las páginas */
.wrap1{
  background-image: url(https://i.blogs.es/0ecab2/chainsaw-man/1366_2000.jpeg);
  min-height:280px;
}

.wrap2{
  background-image: url(https://images-na.ssl-images-amazon.com/images/S/pv-target-images/c912a1ce1d58e50f37495f640cb61839c7183adb78470593267cabaedf4fd3c8._RI_V_TTW_.jpg);
  min-height:280px;
}

.wrap3{
  background-image: url(https://m.media-amazon.com/images/M/MV5BMmVjYzllYTQtNTIxOS00Y2MzLTliZjgtNjU0OTQ2Mzk4ZWY4XkEyXkFqcGdeQWRpZWdtb25n._V1_.jpg);
  min-height:280px;
}

.wrap4{
  background-image: url(https://wallpaperaccess.com/full/8894235.jpg);
  min-height:280px;
}



/*#list-anime{
  width:90%;
  color:#333333;
  border:1px solid #999999;
  min-height:450px;
  margin:40px;
  padding:20px;
  line-height: normal;
  background-color: whitesmoke;
  border-radius:5px;
}*/


footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  height: auto;
  line-height: 50px;
  bottom:0;
  padding:30px;
  margin:0;
  width:100%;
}

footer p{
  color:white;
  font-size:0.8em;
  text-align: center;
}

footer a{
  color: #fff;
  margin-right: 30px;
}

.red-soc:hover{
  color: grey;
}


/* Media Queries */

@media screen and (max-width: 768px) {
  nav {
    height: auto;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    line-height: 30px;
  }
  
}


@media screen and (max-width: 980px) {
  nav {
    height: auto;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
  }
  nav ul li a {
    line-height: 30px;
  }
  
}



@media (max-width: 980px) {
  .related {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
}
